@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0);

html,
body {
  padding: 0;
  margin: 0;
}



.roots {
  --fontFamily: 'Ubuntu';
  --text-decoration: none;
}

.container {
  width: 100%;
  /*寬度 視窗寬度(100%)*/
  margin: auto;
  /*邊距 (自動調整)*/
  display: flex;
  /*配合*/
  justify-content: space-between;
  /*對齊 (靠左/右)*/
}

.container a {
  white-space:nowrap;
  display: block;
  text-decoration: none;
  /*消除底線*/
  color: bisque;
  /*字體顏色 ("color")*/
}


.container .h {
  position: relative;
  color:rgb(255, 195, 83);
  font-size: 25px;
  white-space: nowrap;
  bottom: -15px;
}

.container .h::after {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  content: '搶先體驗版';
  color:#48ff00;
  font-size: 11px;
  white-space: nowrap;
  left: 0%;
  right: 0%;
  bottom: -22px;
}

.main-header {
  width: 100%;
  /*寬度100%*/
  height: 85px;
  background-image: linear-gradient(to right, rgb(128, 128, 128),rgb(104, 104, 104) ,rgb(14, 14, 14)); 
  /* background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 166, 0), rgb(255, 238, 0), rgb(102, 255, 0), rgb(0, 119, 255), rgb(119, 0, 255), rgb(174, 0, 255)); */
  position: sticky;
  z-index: 99999;
  top: 0;
  /*預設 / 如果navbarToggle未激活 Y設為-100%*/
}

.main-header h1 {
  line-height: 60px;
  /*高度*/
  margin: 0 15px;
  /*邊距 上=0 右=15px*/
}

.main-menu {
  display: flex;
  margin: 15 0 0 0;
  /*排版 (右)*/
  position: relative;
}

.main-menu.sub {
  display: none;
}

.main-menu li {
  list-style-type: none;
  /*list樣式 none (消除黑點)*/
  position: relative;
  transition: .5s;
}

.main-menu li:hover {
  background-color: #919191;
  /*滑鼠移動到main-menu <li> 設定為深紅色*/
}

.main-menu li a {
  font-weight: bold;
  font-size: 12px;
  padding: 0 15px;
  /* 邊距 (y=0) (x=15px) */
  line-height: 60px;
  /*高度*/
}

.main-menu>.after::before {
  content: '';
  position: absolute;
  /*絕對定位 (會根據視窗大小改變)*/
  height: 4px;
  /*厚度 (長度)*/
  left: 50%;
  right: 50%;
  /*橫槓收縮至50 50(消失)*/
  bottom: 0;
  /*高度 (類似y)*/
  background-color: white;
  /*橫槓收縮時會變"color"*/
  transition: 0.75s;
  /*收/擴總時間0.75s*/
}

.main-menu>.after:hover::before {
  background-color: wheat;
  left: 0;
  /*伸長至 0 0 (一整格)*/
  right: 0;
}

.main-menu .now::before {
  content: '';
  position: absolute;
  /*絕對定位 (會根據視窗大小改變)*/
  height: 4px;
  /*厚度 (長度)*/
  left: 0%;
  right: 0%;
  bottom: 0;
  /*高度 (類似y)*/
  background-color: #16d02e;
  /*橫槓收縮時會變"color"*/
  
}
.main-menu .now a {
  color: #16d02e;
}


.body {
  font-family: var(--fontFamily);
  
}

.language {
  color: rgb(0, 60, 255);
  width: auto;
  font-weight: bold;
  position: fixed;
  left: auto;
  height: 25px;
  bottom: 8px;
  right: 0;
}

.notSelected {
  color: #919191;
}

#tran {
  display: none;
}

label #translateIcon {
  --border-weight: 2px;
  border: var(--border-weight) solid rgb(0, 255, 213);
  border-radius: 50%;
  padding: 5px;
  font-size: 13px;
  background-color: #a3a3a3;
  color: white;
  position: fixed;
  bottom: 8px;
  left: 10;
  cursor: pointer;
  z-index: 10000;
  transition: 0.15s;
}

label #translateIcon:hover {
  font-size: 16px;
}
  
#tran:checked~label #translateIcon {
  color: black;
  font-size: 16px;
}

#tran:checked~.trans {
  display: block;
}

.trans {
  display: none;
  border: 1px solid rgb(155, 155, 155);
  position: fixed;
  bottom: 10px;
  left: 50;
  width: 240;
  background-color: rgb(228, 228, 228);
  padding: 30 0 30 0;
  border-radius: 20px;
  z-index: 10000;
}

.trantitle {
  position: relative;
  bottom: 13px;
  font-size: 24px;
  margin-bottom: -20px;
  text-align: center;
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  color: rgb(255, 196, 0);
}

.tranUrl {
  --font-size: 17px;
  --font-length: 4;
  --padding-length: 3.5px;
  font-weight: bold;
  font-size: var(--font-size);
  text-decoration: none;
  background-image: linear-gradient(to left, rgb(251, 255, 0), rgb(123, 255, 0));
  border: 1px solid rgb(81, 255, 0);
  border-radius: 8px;
  color: black;
  position: relative;
  left: calc((240px - (var(--font-size) * var(--font-length)) - calc(4px + var(--padding-length) * 2)) / 2);
  padding: var(--padding-length);
  bottom: -10;
}

.tranUrl:hover {
  color: white;
  background-image: linear-gradient(to left, rgb(255, 238, 0), rgb(72, 255, 0));
}

.langs {
  background-color: rgb(245, 245, 245);
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  padding-bottom: 1;
}

.completeTitle {
  color:rgb(0, 255, 213);
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: -15px;
}

.langComplete {
  font-size: 15px;
  margin-bottom: -10px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(240, 240, 240);
}

.langComplete a {
  display: block;
  text-decoration: none;
}

.last_langComplete {
  margin-bottom: 15;
}

.langred {
  color: red;
}

.langorange {
  color: orange;
}

.langgreen {
  color:rgb(50, 205, 58);
}


footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transform: translateY(0);
  transition: 1.15s;
  padding-right: 20;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  text-align: center;
  background-color: gray;
  color: antiquewhite;
  position: fixed;
  bottom: 0px;
  width: calc(100% - 20px);
  font-size: 15px;
}

label[for="menu"] {
  display: none;
}

#menu {
  display: none;
}

#backHome {
  display: none;
}

label[for="menu"].close {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 700px) {
  label[for="menu"] {
    transition: visibility 0.65s, opacity 0.65s linear;
    visibility: visible;
    opacity: 1;
    width: 40px;
    display: block;
    position: absolute;
    transform: translateX(10px);
    top: 20px;
    z-index: 10001;
    cursor: pointer;
  }
  label[for="menu"]:hover span {
    color: rgb(180, 180, 180);
  }
  label[for="menu"] span {
    color: white;
    font-size: 40px;
    transition: 0.25s;
  }
  .container .h {
    position: relative;
    top: 5;
  }
  .container .h::after {
    position: absolute;
    top: 20px;
  }

  .container {
    display: block;
    width: 200;
    text-align: center;
  }
  .main-header .main-menu {
    display: block;
    position: absolute;
    width: 80%;
    left: 0px;
    top: 80px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.65s linear;
  }

  .main-header .main-menu li {
    position: relative;
    width: 100%;
    text-align: left;
  }

  .main-header .main-menu li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    background-color: #919191;
  }

  .main-header .main-menu>li:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    background-color: #919191;
  }

  .main-header {
    transition: 1s;
    transform: translateY(0);
    position: relative;
    top: 0;
    z-index: 10000;
  }

  .main-menu {
    display: none;
  }

  .main-menu.sub {
    display: block;
  }

  #backHome {
    display: block;
    position: absolute;
    right: 10;
    top: 20;
    color: white;
  }

  #backHome span {
    font-size: 40px;
  }

  #menu:checked~.main-header {
    position: absolute;
    top: 0px;
    height: calc(100% - 40px);
    opacity: 0.99;
  }

  #menu:checked~.main-header::before {
    content: "";
    position: absolute;
    top: 70px;
    width: 100%;
    height: 2px;
    background-color: rgb(59, 59, 59);
    background-image: none;
  }

  #menu:checked~.main-header label[for="menu"] {
    visibility: hidden;
    opacity: 0;
  }

  #menu:checked~.main-header [for="menu"].close {
    visibility: visible;
    opacity: 1;
  }

  #menu:checked~.main-header .main-menu.sub {
    visibility: visible;
    opacity: 1;
  }
}
