.send {
    width:50%; 
    height: 35px;
    border-color: rgb(47, 255, 141);
    border-width: 2px;
}

.reset {
    width:50%; 
    height: 35px;
    border-color: rgb(255, 106, 106);
    border-width: 2px;
    position: relative;
    left: 50%; 
    bottom: 35;
    margin-bottom: -20;
}

.c {
    width: 100%;
}


#today {
    display: none;
}

label:not([for="menu"]) span.material-symbols-outlined {
    font-size: 45px;
    color: red;
    cursor: pointer;
    display: block;
}

label:not([for="menu"]) span.on {
    color: green;
    display: none;
}

#today:checked~label span.off {
    display: none;
}

#today:checked~label span.on {
    display: block;
}

p.indu {
    font-size: 25px;
    position: relative;
    margin-bottom: -45px;
    bottom: 50px;
    left: 50px;
}

p a {
    font-size: calc(25px / 1.3);
    color: gray;
    position: relative;
    bottom: 2px;
    left: 3px;
    cursor: pointer;
}

p a:hover {
    color: rgb(49, 49, 49)
}